<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="frame">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000420421646341596 0.216243487520776 -0.0974122221419586"
        rpy="0 0 0" />
      <mass
        value="27.7970463300636" />
      <inertia
        ixx="0.539223822210737"
        ixy="-0.000453323421631134"
        ixz="0.000446120862069227"
        iyy="1.09047212783875"
        iyz="0.0213487193917868"
        izz="1.49067418687398" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magician_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magician_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="camera_1_left">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 0 0.00550000000000006"
        rpy="0 0 0" />
      <mass
        value="0.00962500000000001" />
      <inertia
        ixx="5.98354166666667E-07"
        ixy="1.4322197760809E-23"
        ixz="1.84907666491832E-20"
        iyy="1.07960416666667E-06"
        iyz="1.03673303439966E-22"
        izz="1.48385416666667E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magician_description/meshes/camera_1_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magician_description/meshes/camera_1_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_1_left_joint"
    type="fixed">
    <origin
      xyz="0.2055 0.1115 0.645"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_1_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_2_right">
    <inertial>
      <origin
        xyz="1.11022302462516E-16 0 0.00549999999999984"
        rpy="0 0 0" />
      <mass
        value="0.00962500000000002" />
      <inertia
        ixx="5.98354166666668E-07"
        ixy="1.12652558541722E-23"
        ixz="-1.84972150093668E-20"
        iyy="1.07960416666667E-06"
        iyz="-1.37185738481864E-23"
        izz="1.48385416666667E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magician_description/meshes/camera_2_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://magician_description/meshes/camera_2_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_2_right_joint"
    type="fixed">
    <origin
      xyz="-0.2065 0.1115 0.645"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_2_right" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
